<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="HP-TestSuite">
  <test thread-count="5" name="TestHomePage">
    <classes>
      <class name="app.test.TestNG_Selenium_Priority"/>
      <class name="app.test.Test_Selenium_NG"/>
    </classes>
  </test> <!-- TestHomePage -->
</suite> <!-- HP-TestSuite -->
